.card {
  min-width: 15vw;
  max-width: 15vw;
  min-height: 18vw;
  max-height: 18vw;
  margin: 10px;
  box-sizing: border-box;
  background-color: white;
  border: 3px solid teal;
  padding: 10px;
  color: teal;
  font-family: 'Pacifico', cursive;
}
